#home
  .row
    .large-12.columns.home-banner
      %h1 Esports Events
      %p We provide a single place to promote esports events to make it as easy as possible for fans so they never miss a click.

  .row
    .large-12.columns
      
      .row
        .large-6.columns  
          .feed
            %h2 Next Event
            .next-event.event
              = link_to image_tag("http://lorempixel.com/120/120"), "#", class: "th"

            %h2 Events coming up soon
            .event
              = link_to image_tag("http://lorempixel.com/85/85"), "#", class: "th"
            .event
              = link_to image_tag("http://lorempixel.com/85/85"), "#", class: "th"
            .event
              = link_to image_tag("http://lorempixel.com/85/85"), "#", class: "th"
            .event
              = link_to image_tag("http://lorempixel.com/85/85"), "#", class: "th"
            .event
              = link_to image_tag("http://lorempixel.com/85/85"), "#", class: "th"


        .large-6.columns
          .signup-area
            %h2 Sign up for an account

            .signup
              %button I'm a gamer
              %p I watch esports events and want to personalize my feed.

            .signup
              %button I'm part of an organization
              %p We plan esports events and would like to promote them.