- content_for :title do 
  Users

#users
  .row
    .large-12.columns
    
      %h1= pluralize(@users.size, "User")

      %table
        %thead
          %tr
            %th Name
            %th Email
            %th Role
            %th Joined
            %td
        %tbody
          - @users.each do |user|
            %tr
              %td= user.name
              %td= user.email
              %td= user.role.titleize
              %td= "#{time_ago_in_words(user.created_at)} ago"
              %td= link_to "Edit", edit_admin_user_path(user)
